/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Css reset mínimo */
#barra-brasil {
  div, a, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
}

#barra-brasil ul {
  list-style: none;
}

/* Css específico */

/*   web font   */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("//barra.brasil.gov.br/static/opensans-bold.woff") format("woff");
}

/*  fim da web font   */

#barra-brasil {
    height: 32px;
    background: #f1f1f1;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    a {
        text-decoration: none;
    }
	 border-bottom: 1px solid #dfdfdf;
}

div#wrapper-barra-brasil {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
	 height: 100%;
}

#barra-brasil .brasil-flag {
    float: left;
    padding: 7px 0 6px;
    width: 115px;
    height: 19px;
    border-right: 2px solid #dfdfdf;
}

#barra-brasil .brasil-flag .link-barra {
    display: block;
    padding-left: 42px;
    width: 43px;
    background: embed("imagens/bandeira-brasil.png") 8px center no-repeat;
    text-transform: uppercase;
    line-height: 19px;
}

#barra-brasil .acesso-info {
    position: absolute;
    left: 130px;
}

#barra-brasil .list {
    position: absolute;
    top: 0;
    right: 0;
}

#barra-brasil .list .first { border-left: 2px solid #dfdfdf; }

#barra-brasil .list-item {
    display: inline-block;
    padding: 0 15px 0 13px;
    height: 32px;
    border-right: 2px solid #dfdfdf;
}

#barra-brasil .link-barra { color: #606060; }

#menu-icon {
	display: hidden;
	width: 35px;
	height: 22px;
	background: #f1f1f1 embed("imagens/menu.png") no-repeat center;
	border-bottom: 1px solid #DFDFDF;
}

@media only screen and (max-width: 959px)  {
	#barra-brasil #menu-icon {
		display:inline-block;
		float: right;
		padding: 5px;
	}

	#barra-brasil nav:hover #menu-icon,
	#barra-brasil nav:active #menu-icon,
	#barra-brasil nav:focus #menu-icon {
		background-color: #DDD;
	}

	#barra-brasil ul.list,
	#barra-brasil ul.list:active,
	#barra-brasil ul.list:focus {
		overflow: hidden;
		height: 0px;
		transition: 0.3s;
		padding-top: 32px;
		width: auto;
	}

	#barra-brasil .list-item {
		display: block;
		text-align: center;
		height: 30px;
		background: #EEE;
		padding: 0 15px;
       		border: 1px solid #dfdfdf;
	}

	#barra-brasil .list a:active li,
	#barra-brasil .list a:focus li,
	#barra-brasil .list a:hover li {
   	 background: #DDD;
	}

	#barra-brasil nav:active ul.list,
	#barra-brasil nav:focus ul.list,
	#barra-brasil nav:hover ul.list {
		height: 150px;
		transition: 0.5s;
	}

	div#wrapper-barra-brasil {
		 overflow: visible;
	}
}

@media screen and (min-width: 960px) {
    #wrapper-barra-brasil { width: 960px; }
}

