/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Css reset mínimo */
#barra-brasil {
  div, a, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
}

#barra-brasil ul {
  list-style: none;
}

/* Css específico */

$cor-link: #606060;
$cor-borda: #dfdfdf;
$cor-fundo: #f1f1f1;

/*   web font   */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("//barra.brasil.gov.br/static/opensans-bold.woff") format("woff");
}

/*  fim da web font   */

#barra-brasil {
    height: 32px;
    background: $cor-fundo;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    a {
        text-decoration: none;
    }
	 border-bottom: 1px solid $cor-borda;
	 box-sizing: content-box;
}

body.contraste #barra-brasil, body.contraste .link-vlibras {
	background: #000 !important;
}

body.contraste #barra-brasil .link-barra, body.contraste #barra-brasil .link-vlibras { 
    color: #FF0 !important; 
    text-decoration: underline;
}

div#wrapper-barra-brasil {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
	 height: 100%;
}

#barra-brasil .brasil-flag {
    float: left;
    padding: 7px 0 6px;
    width: 115px;
    height: 19px;
    border-right: 2px solid $cor-borda;
}

#barra-brasil .brasil-flag .link-barra {
    display: block;
    padding-left: 42px;
    width: 43px;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2219%22%20viewBox%3D%220%200%20100000%2070000%22%3E%3Cpath%20fill%3D%22%2300923F%22%20d%3D%22M0%200h100000v70000H0z%22%2F%3E%3Cpath%20fill%3D%22%23F8C300%22%20d%3D%22M50000%208500L8500%2035000l41500%2026500%2041500-26500L50000%208500z%22%2F%3E%3Ccircle%20fill%3D%22%2328166F%22%20cx%3D%2249963%22%20cy%3D%2235000%22%20r%3D%2217464%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M39537%2029605c10388%200%2019911%203821%2027238%2010127%20242-850%20421-1726%20532-2622-7597-6162-17265-9862-27770-9862-1821%200-3617%20114-5382%20330-377%20805-695%201642-948%202507%202065-316%204179-480%206330-480z%22%2F%3E%3C%2Fsvg%3E") 8px center no-repeat;
    text-transform: uppercase;
    line-height: 19px;
}

#barra-brasil #brasil-vlibras {
    position: absolute;
    top: 0;
    right: 0;
    display: block;

    ul{
       padding-top: 32px;
    }

    .logo-vlibras {
      background: embed("imagens/vlibras.svg") 8px center no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      width: 43px;
      height: 32px;
      display: block;
    }

    .link-vlibras {
		height: 0;
		transition: 0.1s;
		width: auto;
      z-index: 9;
      height: 0;
      display: block;
      border: 2px solid $cor-borda;
      padding: 5px 12px 5px 12px;
      color: $cor-link;
		visibility: hidden;
		position: relative;
   }
		
   .logo-vlibras:hover + .link-vlibras,
   .logo-vlibras:active + .link-vlibras,
   .logo-vlibras:focus + .link-vlibras,
    .link-vlibras:hover,
    .link-vlibras:active,
    .link-vlibras:focus {
      height: 32px;
      display: block;
      border: 2px solid $cor-borda;
      padding: 5px 12px 5px 12px;
      visibility: visible;
      background: $cor-fundo;
    }
}

#barra-brasil .acesso-info {
    position: absolute;
    left: 130px;
}

#barra-brasil .list {
    position: absolute;
    top: 0;
    right: 40px;
}

#barra-brasil .list .first { border-left: 2px solid $cor-borda; }

#barra-brasil .list-item {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-right: 2px solid $cor-borda;
    a {
        padding: 8px 15px 8px 13px;
    }
}

#barra-brasil .link-barra { color: $cor-link; }


#barra-brasil #menu-icon {
  position: absolute;
  top: 3px;
  border-top: 15px double $cor-link;
  border-bottom: 5px solid $cor-link;
  display: none;
  width: 20px;
  right: 5px;
}

@media only screen and (max-width: 959px)  {
	#barra-brasil #menu-icon {
		display:inline-block;
		padding: 5px 3px 0px 3px;
	}

	#barra-brasil .list .first { border-left: 1px solid $cor-borda; }

	#barra-brasil nav:hover #menu-icon,
	#barra-brasil nav:active #menu-icon,
	#barra-brasil nav:focus #menu-icon {
		background-color: #DDD;
	}

	body.contraste #barra-brasil nav:hover #menu-icon,
	body.contraste #barra-brasil nav:active #menu-icon,
	body.contraste #barra-brasil nav:focus #menu-icon {
		background-color: $cor-link !important;
	}

	#barra-brasil ul.list,
	#barra-brasil ul.list:active,
	#barra-brasil ul.list:focus {
		overflow: hidden;
		height: 0px;
		transition: 0.3s;
		padding-top: 32px;
		width: auto;
		position: absolute;
      z-index: 9;
	}

	#barra-brasil .list-item {
		display: block;
		text-align: center;
		height: 30px;
		background: #EEE;
      border: 1px solid $cor-borda;
      a {
          padding: 8px 30px 8px 28px;
      }
	}

	body.contraste #barra-brasil .list-item {
		background: #000 !important;
	}

	body.contraste #menu-icon {
		border-top: 15px double #fff !important;
  		border-bottom: 5px solid #fff !important;
	}

	#barra-brasil .list a:active li,
	#barra-brasil .list a:focus li,
	#barra-brasil .list a:hover li {
   	 background: #DDD;
	}

	body.contraste #barra-brasil .list a:active li,
	body.contraste #barra-brasil .list a:focus li,
	body.contraste #barra-brasil .list a:hover li {
   	 background: $cor-link !important;
	}

	#barra-brasil nav:active ul.list,
	#barra-brasil nav:focus ul.list,
	#barra-brasil nav:hover ul.list {
		height: 150px;
		transition: 0.5s;
	}

	div#wrapper-barra-brasil {
		 overflow: visible;
	}
}

@media screen and (min-width: 960px) {
    #wrapper-barra-brasil { width: 960px; }
}
@media print {
	#barra-brasil .list{
		  display: none;
	}

	#barra-brasil .acesso-info .link-barra:after {
		content: " Barra GovBr";	
	}
}
