# Edited files #
################
*~
*.orig

# Compiled source #
###################
*.pyc
**/build/*
**/.sass-cache/*
assets.json
app/templates/*

# Arquivos especificos #
########################
app/profile
app/static/*.js
test/*.jtl
test/resultado.txt
test-reports.xml
recipes/*/assets/barra-brasil.coffee

# Vagrant files #
#################
.vagrant

# Enviroment files #
####################
venv
node_modules
npm-debug.log
