#barra-brasil {
  div, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  ul {
    list-style: none;
  }
  height: 32px;
  background: #FCCA00;
  font-weight: bold;
  font-size: 13px;
  line-height: 32px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  border-bottom-style: solid;
  border-bottom-color: hsl(45, 70%, 49%);
  border-bottom-width: 1px;
  a {
    text-decoration: none;
  }
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://barra.brasil.gov.br/static/opensans-bold.woff") format("woff");
}


div#wrapper-barra-brasil {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

#barra-brasil {
  .brasil-flag {
    float: left;
    padding: 7px 0 6px;
    width: 116px;
    height: 19px;
    border-right: 1px solid #d3a725;
    .link-barra {
      display: block;
      padding-left: 42px;
      width: 43px;
      background:embed("imagens/bandeira-brasil.png") 8px center no-repeat;
      text-transform: uppercase;
      line-height: 19px;
    }
  }
  .acesso-info {
    float: left;
    padding: 0 13px;
    border-right: 1px solid #d3a725;
  }
  .copa-counter {
    position: absolute;
    top: 0;
    left: 343px;
    padding: 0;
    color: #138542;
    width: 210px;
    text-align: center;
    > span {
      margin: 0 2px 0 1px;
    }
    span span {
      background:embed("imagens/counter-bg.png") no-repeat;
      color: #FCCA00;
      display: inline-block;
      width: 16px;
      height: 22px;
      margin-left: 1px;
      text-align: center;
      line-height: 22px;
    }
  }
  .portal-copa {
    float: left;
    padding: 0 13px;
    color: #138542;
    border-right: 1px solid #d3a725;
  }
  .list {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #d3a725;
    .first! {}
  }
  .list-item {
    display: inline-block;
    padding: 0 15px 0 14px;
    height: 32px;
    float: left;
    border-right: 1px solid #d3a725;
  }
  .list! .last {}
  .link-barra {
    color: #138542;
  }
}

@media screen and (max-width: 870px) {
  #barra-brasil {
    .list {
      top: -100px;
    }
    .copa-counter, .portal-copa {
      display: none;
    }
  }
}

@media screen and (min-width: 960px) {
  #wrapper-barra-brasil {
    width: 960px;
  }
}
