<html>
    <head>
        <title>Barra Brasil</title>
        <style type="text/css">

#footer-brasil {
   background: none repeat scroll 0% 0% transparent;
   padding: 1em 0px;
   max-width: 100%;
}

        </style>
    </head>

    <body>

        <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
	<ul id="menu-barra-temp" style="list-style:none;">
		<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
		<li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
	</ul>
</div>

        <h1>Barra Brasil</h1>
        <p>Veja as <a href="http://epwg.governoeletronico.gov.br/barra/">instruções de como usar a barra</a> no e-PWG.</p>
		  <br>
		  <div id="footer-brasil"></div>
<script src="barra.js" type="text/javascript"></script>            
    </body>
</html>
